body {
    background-color: #f8f8f8;
}

img[alt="Freedom"]{
    height: 350px;
}

#container,footer{
    width: 1000px;
    margin:0 auto;
}

a {
    color: royalblue;
    font-family: sans-serif ;
    font-style: oblique;
    font-size: 22px;
}

a:hover{
    color:#f0e000;
    background-color:royalblue  ;
}

#menu li{
    margin-left: 0;
    list-style-type: none;
    display:inline-block;
}

#menu ul{
    margin:0;
    padding:0;
}
#menu li a{
    text-decoration:none;
    display: inline-block;
    height: 45px;
    width:180px;
    line-height: 45px;
    text-align:center;
}

h2{
    color:black;
    font-size:18px;
    font-weight:400;
    background-color:#eaeaea;
}

a+h2+p{
    color:#707070;
    font-size:14px;
    font-style:italic;
    line-height: 16px;
}
h2 h2 h2+p{
    color:#484343;
    font-size:16px ;
    font-weight: 400;
    line-height: 24px;
    text-align:left;
}

ul.goodsFeatures li{
    list-style-image: url(../images/list-mark.png);
    text-decoration-style: double;
    text-decoration-color: #9999f9;
    text-decoration-line: underline;
    color: #207070;
    font-style: oblique;
}

a[target="_blank"] img{
border-radius:40% ;
width:180px;
}

a[target="_blank"][href*="blue"] img{
    border: 2px outset royalblue;
}
a[target="_blank"][href*="green"] img{
    border: 2px outset green;
}

a[target="_blank"][href*="red"] img{
    border: 2px outset red;
}

a[target="_blank"],a[target="_blank"]:hover {
    text-decoration-style: unset;
    text-decoration: none;
    background-color: rgba(0,0,0,0);
}

form input{
    height:28px;
    width:360px;
    font-size:20px;
    margin-bottom:10px;
}

form textarea{
    width:100%;
    font-style: italic;
    color: #7979f9;
    font-size:16px;
    margin-bottom:10px;
}