body {
    background-color: #f8f8f8;
}

img[alt="Freedom"]{
    height: 350px;
}

#container,footer{
    width: 1000px;
    margin:0 auto;
}

a {
    color: royalblue;
    font-family: sans-serif ;
    font-style: oblique;
    font-size: 22px;
}

a:hover{
    color:
}

#menu li{
    float:left;
    margin-left: 50px;
    margin-bottom:16px;
    list-style-type: none;
}

#menu a{
    text-decoration:none;
}
